/* Basic styling for the charts */
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
svg {
    border: 1px solid #ccc;
}
.axis-text {
    font-size: 20px; /* Adjust the size as needed */
}

/*Graph Alignment*/
#energy_danceability_scatter_plot {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 100vh;
    width: 50vw;
}

#densityG {
    position: absolute;
    font-weight: bold;
    top: 0vh;
    left: 50vw;
}

.density_plot {
    width: 50vw;
    height: 50/6vh;
    left: 0vw;
}